body{
    transition: all 0.5s ease;
    color:#fff;
    background:#0e0e0e;
    font-family: 'Rubik', sans-serif;
}

h1{
    text-align:center!important;
    margin-top:50px!important;
    font-weight:100!important;
    font-size: 60px;
}
.center{
    margin:auto !important;
    text-align:center !important
}
.vertical-center{
    min-height:100vh;
    display:flex;
    align-items:center
}
.spacing{
    margin-top:5%;
    margin-top:5vh;
    margin-bottom:20%;
    margin-bottom:20vh
}
.space{
    margin-top:5vh;
    margin-bottom:10vh
}
.sub{
    margin-top:20px !important;
    margin-bottom:30px !important;
    max-width:450px !important;
    font-weight:300;
    font-size:18px
}
.social{
    padding: 5px !important;
    width: 40px;
}

.light-mode{
    color:#0e0e0e !important;
    background:#fff !important;
}
button{  
    background: url(../assets/sun.svg) no-repeat;  
    color: transparent;  
    box-shadow: none;  
    border: none;  
    width: 50px;  
    height: 50px;  
    background-position: center;  
    position: absolute;  
    cursor: pointer;  
}
.light-mode button{
    background: url(../assets/moon.svg) no-repeat;
    background-position: center;
}
button:focus {
    outline:0;
}
